$path: '/node_modules/govuk_frontend_toolkit/images/';
@function image-url() {}

@import 'govuk-elements';

#global-cookie-message {
  display: none !important;
}

#global-header #logo {
  background: none;
  height: 30px;
  margin: 4px 15px 0;

  img {
    display: none;
  }
}

.button-warning {
  @include button ($error-colour);
}

.double-margin {
  margin-bottom: 2em;
}

.js-enabled .js-visually-hidden {
  @include visually-hidden;
}

.data-summary-paragraph {
  @include box-sizing(border-box);

  border: 1px solid $border-colour;
  border-width:1px 0;
  padding: .63158em 0 .47368em 0;
}

.heading-medium.display-header {
  margin-bottom: 5px;
}

.display-wrapper {
  position: relative;
}

.change-link {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: .4em;
}
.change-link-inline {
  float:right;
}
