[Unit]
Description=Bereavement Claim Manager Frontend
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/opt/bereavement/claim-manager/config/env.properties
Type=simple
Group=bereavement
User=bereavement
ExecStart=/bin/bash -c "cd /opt/bereavement/claim-manager/frontend/; /usr/bin/node ./server.js > /var/log/bereavement/claim-manager.log 2>&1"

Restart=on-failure

[Install]
WantedBy=multi-user.target
